// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td + td {
  border-left:  1px solid #000000;
  padding: 0 5px;
}