// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td + td {
  border-left:  1px solid #000000;
  padding: 0 5px;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
}

#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1em;
  height: 18px;
}

#sortable li span {
  position: absolute;
  margin-left: -1.3em;
}