// Place all the styles related to the welcom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sing {
  float: right;
}
body {
  background-image: url("background.png");
  color: #ffffff;
  }
.reveal-modal {
color: #000000;
}

a {
  color: #ffa07a;
  &:visited {
    color: #ffa07a;
  }
  &:hover {
    color: black;
    background-color: #ffffff;
  }
}